# Telegram settings
TELEGRAM_CHAT_ID=123456789
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# ClickHouse settings
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=default

